body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.categories-wrapper, .posts-wrapper {
  display: flow-root;
  float: left;
  justify-content: space-around;
  margin: 10px 0;
}

.categories-list {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

li.categories-list {
  border-bottom: 1px solid #eee;
}

.posts-list, .sorting-wrapper {
  background: #fff;
  border-radius: 6px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  margin-bottom: 2rem;
  margin-left: 3.5rem;
  padding: 20px;
}

.sorting-wrapper {
  background: #fff;
  margin-bottom: 2rem;  min-width: 100px;
  position: absolute;
  right: 0;
}

.posts-list .grid-logo {
  color: #555;
  margin-bottom: 20px;
}

.sorting-logo {
  color: #02b3e4;
  cursor: pointer;
}

.sorting-logo a:hover {
  color: #666;
}

.posts-list .category {
  color: #000;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 5px;
  text-align: left;
}

.posts-list .title {
  color: #02b3e4;
  display: block;
  font-weight: bold;
  height: 30px;
  text-align: left;
}

.posts-list .votes {
  color: #666;
  display: inline-grid;
  float: right;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

.posts-list .date-time {
  color: #999;
  font-size: 0.7rem;
}


li.posts-list {
  overflow: auto;
  width: 650px;
}

a {
  color: #02b3e4;
  text-decoration: none;  
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #02b3e4;
}

.link-inactive {
  color: #000;
}

.flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  vertical-align: -webkit-baseline-middle !important;  
}

.todos .todo__form {
  border: 0;
}

.todo__form input.new-todo {
  border: 0;
  margin-left: 20px;
  width: 95%
}

.todo__form {
  background-color: #02b3e4;
  border: 1px solid #ccc;
  padding: 20px;
}

.todo__form input {
  border: 1px solid #eee;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 15px 10px;
  outline: 0;
  width: 95%;
}

.todo__list {
  border-top: 1px solid #e6ebed;
  }
  .todo__list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
  }
  
  .todo__list li {
    position: relative;
    padding: 0 15px 0 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
  }
  .todo__list li:hover a {
    opacity: 1;
  }
  .todo__list li a {
    text-decoration: none;
    color: #6bb3ca;
    font-size: 22px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .todo__list li p,
  .todo__list li input {
    line-height: 40px;
    margin: 0;
    border: 0;
    outline: 0;
    width: 100%;
  }

  .todo__list .toggle {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    text-indent: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  .todo__list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
  }

  .todo__list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
  }

  .todo__list .done .toggle:before, .todo__list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  }

  .inner-content {
    float: left;
    margin-left: 40px;
    width: 85%;
  }

  button {
    background-color: #7798f1;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px;
  }

  select, textarea {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
  }

textarea {
  border: 1px solid #eee;
  display: block;
  font-size: 16px;
  height: 150px;
  width: 94%;
}

.position-default {
  position: static;
}

.icon-heart {
  color: #ff0000;
}

.icon-comment {
  color: #3e3e3e;
}

.title-heading {
  color: #02B3E6;
  font-size: 24px;
  margin-left: 3.5rem;
}

.line-items {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding: 20px;
}

.line-items label {
  float: left;
  width: 100px;
}

.line-items span, .line-items time {
  color: #02b3e4;
}

.post-controls {
  color: #666;
  float: right;
}

.post-new {
  background-color: #02b3e4;
}

.overflow-auto {
  overflow: auto;
}

.single-comment {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px;
}

.single-comment .author, .single-comment .body {
  color: #999;
  font-size: 0.7rem;
  margin-bottom: 15px;
}

.single-comment .body {
  color: #000;
  font-size: 1rem;
}

.comment-bubble {
  color: #999;
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.float-left {
  float: left;
}

:disabled {
  opacity: 0.5;
}

a {
  cursor: pointer;
}